<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Icon list
  </h1>
</div>
<ul style="list-style: none; margin: 25%;">
  <li>
    <cds-icon shape="angle"></cds-icon> Angle icon
  </li>
  <li>
    <cds-icon shape="file"></cds-icon> File icon
  </li>
  <li>
    <cds-icon shape="times"></cds-icon> Times icon
  </li>
  <li>
    <cds-icon shape="times-circle"></cds-icon> Times circle
  </li>
  <li>
    <cds-icon shape="info-circle"></cds-icon> Infor circle
  </li>
</ul>

